@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="@Html.Raw(this.ViewBag.MetaDescription as string)" />
  <meta name="keywords" content="@Html.Raw(this.ViewBag.MetaKeywords as string)" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <title>@Html.Raw(this.ViewBag.Title as string)</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic" type="text/css" rel="stylesheet" />
  <link href="~/css/platformus.min.css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <a class="header__logo logo" href="/@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName/">Your brand</a>
    @await Component.InvokeAsync("Menu", new { code = "Main", additionalCssClass = "header__menu" })
    @await Component.InvokeAsync("Catalogs", new { additionalCssClass = "header__catalogs" })
    @await Component.InvokeAsync("Cultures", new { additionalCssClass = "header__cultures" })
  </div>
  <div class="mobile-header">
    <div class="mobile-header__menu-toggle" onclick="toggleHeader();"></div>
  </div>
  <div class="content">
    @RenderBody()
  </div>
  <div class="footer">
    &copy; Your brand, @DateTime.Now.Year
  </div>
  <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/js/platformus.min.js"></script>
</body>
</html>